
.container {
    display: flex;
    height: 200px;
}

.fleche {
    align-items: center;
    border: none;
    align-self: center;
    background: none;
}

button {
    width: 50px;
    height: 50px;
}

.hair {
    position: relative;
}

.personnage {
    position: absolute;
}

.couleurDesCheveux {
    margin-left: 200px;
}

.boutonNoir {
    margin-left: 50px;
    background: black;

}
.boutonJaune {
    margin-left: 50px;
    background: rgb(235, 219, 4);
}
.boutonTurquoise {
    margin-left: 50px;
    background: rgb(64,224,208);
}